/***

====================================================================
    Cta Section
====================================================================

***/

.cta-section {
  position: relative;
  padding: 130px 0;
  z-index: 2;
  .anim-icons{
    .image-1{
      bottom: -100px;
      left: -50px;
      position: absolute;
      z-index: 1;
      @include media-breakpoint-down(md){
        display: none;
      }
    }
  }
  .outer-box{
    border-radius: 50px;
    overflow: hidden;
    padding: 70px;
    position: relative;
    @include media-breakpoint-down(md){
      padding: 50px 30px;
    }
    @media (max-width: 399.98px) {
      border-radius: 0;
      padding: 0;
    }
    .bg{
      &:before{
        background: linear-gradient(262.42deg, rgba(34, 34, 34, 0.4) 2.87%, rgba(34, 34, 34, 0.8) 92.87%);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.cta-image-column{
  position: relative;
  text-align: end;
  .cta-img-box{
    bottom: 0;
    position: absolute;
    top: -20px;
    @media (max-width: 1499.98px) {
      top: 170px;
    }
    .man-img{
      width: 95%;
    }
    @include media-breakpoint-down(xxl){
      display: none;
    }
  }
}

.cta-about-box {
  background-color: var(--theme-color-white);
  border-radius: 50px;
  max-width: 737px;
  padding: 70px 60px;
  position: relative;
  width: 100%;
  &:before{
    background-image: url(../images/icons/shape-style17.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    left: auto;
    opacity: 0.8;
    position: absolute;
    right: auto;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  @include media-breakpoint-down(md){
    padding: 50px 30px;
  }
  @media (max-width: 399.98px) {
    border-radius: 0;
  }
  .info-box{
    position: relative;
    &:hover{
      .icon{
        transform: scaleX(-1.0);
      }
    }
    .icon{
      background: #5966EC;
      border-radius: 50%;
      color: var(--theme-color-light);
      font-size: 20px;
      height: 52px;
      line-height: 52px;
      width: 52px;
      @include transition(all 300ms ease);
    }
    .h4{
      color: var(--theme-color-dark);
      margin-bottom: 0;
    }
  }
}

/***

====================================================================
    Cta Section Two
====================================================================

***/

.cta-section-two{
  position: relative;
  .outer-box{
    background-color: var(--theme-color-white);
    border-radius: 50px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    &:before{
      background: linear-gradient(262.42deg, rgba(34, 34, 34, 0.4) 2.87%, rgba(34, 34, 34, 0.8) 92.87%);
      border-radius: 30px;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      @include media-breakpoint-down(sm){
        border-radius: 0;
      }
    }
    &:after{
      background: rgba(89, 102, 236, 0.4);
      border-radius: 30px;
      bottom: 0;
      content: "";
      filter: blur(102.95px);
      height: 300px;
      left: 3%;
      position: absolute;
      right: 0;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 300px;
      z-index: 1;
      @include media-breakpoint-down(sm){
        border-radius: 0;
      }
    }
    @include media-breakpoint-down(xl){
      padding: 0;
    }
    @include media-breakpoint-down(sm){
      border-radius: 0;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .content-column{
    padding: 100px;
    position: relative;
    z-index: 1;
    .sec-title{
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .title{
      color: var(--theme-color-white);
      font-family: var(--heading-font-family);
      @include responsive-font(50px, 6.25vw, 100px, 1.1);
      max-width: 780px;
      text-transform: capitalize;
    }
    .text{
      color: var(--theme-color-white);
      font-family: var(--heading-font-family);
      max-width: 744px;
    }
    .contact-circle-btn{
      background-color: var(--theme-color1);
      border-radius: 50%;
      color: var(--theme-color-white);
      display: block;
      height: 150px;
      overflow: hidden;
      padding-top: 30px;
      position: relative;
      @include transition(all 300ms ease);
      text-align: center;
      width: 150px;
      .btn-title {
        color: var(--theme-color-white);
        display: block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: center;
      }
      .icon{
        display: block;
        font-size: 30px;
        margin: 0 auto;
        overflow: hidden;
        width: 30px;
        i{
          transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);    
          width: 10px;  
        }
        i:first-child {
          transform: translateX(5px);
          transition-delay: 0s;
        }
        i:last-child {
          transform: translateX(-100px);
          transition-delay: 0s;
        }
      }
      &:hover{
        i:first-child {
          transform: translateX(200px);
          transition-delay: 0s;
        }
        i:last-child {
          transform: translateX(-15px);
          transition-delay: 0.1s;
        }
      }
    }
  }
  .anim-icons{
    .image-1{
      bottom: -50px;
      position: absolute;
      right: 30px;
      z-index: 1;
      @include media-breakpoint-down(lg){
        display: none;
      }
      img{
        max-width: 230px;
      }
    }
  }  
}
.cta-counter-box{
  position: relative;
  z-index: 2;
  .counter-block-two{
    .info-box{
      .count-box{
        .count-text{
          font-weight: 400;
        }
        sup{
          @include media-breakpoint-down(xl){
            top: calc(20% - 0px);
          }
        }
      }
    }
    .count-box{
      @include media-breakpoint-down(xl){
        line-height: normal;
      }
    }
    .counter-title{
      margin-top: -25px;
    }
    .count-box,
    sup{
      color: var(--theme-color-white);
      font-family: var(--heading-font-family);
      font-size: 64px;
      line-height: 34px;
      font-weight: 500;
    }
    .count-text{
      font-weight: 500;
    }    
  }
}