/*** 

====================================================================
    Feature Section 
====================================================================

***/

.features-section {
  background-color: var(--theme-color-white);
  position: relative;
  padding: 120px 0;
  .inner-container {
    background-color: var(--theme-color1);
    padding: 100px 100px;
    @include media-breakpoint-down(xxl){
      padding: 100px 15px;
    }
  }
}

.feature-block {
  @include media-breakpoint-down(lg){
    margin-bottom: 30px;
  }
  .inner-block {
    background-color: var(--theme-color-white);
    padding: 48px 48px 44px;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(xl){
      padding: 48px 15px 44px;
    }
    &:hover {
      .number {
        background-color: var(--theme-color-dark);
        color: var(--theme-color-white);
      }
      .title {
        &:before {
          width: 100%;
        }
      }
    }
    .number {
      font-size: 24px;
      font-weight: 500;
      color: var(--headings-color);
      height: 60px;
      width: 60px;
      line-height: 60px;
      text-align: center;
      background-color: var(--theme-color1);
      margin-bottom: 29px;
      @include transition(all 300ms ease);
    }
    .title {
      position: relative;
      margin-bottom: 9px;
    }
    .text {
    }
  }
}


/*** 

====================================================================
    Feature Section Two
====================================================================

***/
.features-section-two {
  padding: 120px 0;
  position: relative;
  background-color: var(--theme-color-white);
  @include media-breakpoint-down(lg){
    padding: 80px 0;
  }
  .sec-title-style-three {
    @include media-breakpoint-down(xl){
      margin-bottom: 50px;
    }
    .title {
      max-width: 601px;
      @include media-breakpoint-down(xl) {
        font-size: 38px;
      }
    }
  }
  .image {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    width: 601px;
    height: 504px;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(xl){
      position: absolute;
      left: auto;
      right: 50px;
      bottom: -50px;
      opacity: 0;
      max-height: 300px;
      max-width: 300px;
      z-index: 1;
      @include media-breakpoint-down(md){
        display: none;
      }
      &:before {
        position: absolute;
        content: "";
        background-color: #00000080;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    &:before {
      position: absolute;
      content: "";
      background-color: #00000080;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.feature-block-two {
  @include media-breakpoint-down(xxl){
    padding-left: 20px;
  }
  @include media-breakpoint-down(xl){
    padding-left: 0;
  }
  .inner-box {
    display: flex;
    align-items: start;
    background-color: transparent;
    padding: 29px 32px;
    border-top: 1px solid var(--theme-color1);
    margin-bottom: 20px;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(xxl){
      padding: 29px 15px;
    }
    @include media-breakpoint-down(xxl){
      padding: 29px 5px 29px 17px;
    }
    @include media-breakpoint-down(xl){
      position: relative;
    }
    @include media-breakpoint-down(md){
      padding: 29px 15px;
    }
    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
    &.active {
      .image {
        opacity: 1;
        z-index: 0;
        @include media-breakpoint-down(xl){
          opacity: 0;
        }
      }
    }
    &:hover {
      background-color: var(--theme-color1);
      .image {
        opacity: 1;
        @include media-breakpoint-down(xl){
          opacity: 1;
        }
      }
    }
    
    .number {
      font-size: 24px;
      font-weight: 500;
      color: var(--headings-color);
      line-height: 1.35;
      margin-right: 60px;
      @include media-breakpoint-down(xxl){
        margin-right: 30px;
      }
      @include media-breakpoint-down(sm){
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    .content {
      .title {
        margin-bottom: 5px;
      }
      .text {
        font-size: 18px;
        @include media-breakpoint-down(xl){
          max-width: 500px;
        }
      }
    }
  }
}


/*** 

====================================================================
    Feature Section Three 
====================================================================

***/

.features-section-three {
  background-color: var(--theme-color-white);
  position: relative;
  .sec-title-style-three {
    .title {
      max-width: 553px;
      @include media-breakpoint-down(lg){
        max-width: 650px;
      }
    }
  }
  .outer-container {
    max-width: 1800px;
    background-color: var(--theme-color1);
    margin: 0 auto;
    padding: 0 0 100px;
    @include media-breakpoint-down(lg){
      padding: 0 0 80px;
    }
  }
  .inner-container {
    padding: 140px 100px;
    position: relative;
    @media (max-width: 1649.98px) {
      padding: 100px 15px;
    }
    @include media-breakpoint-down(lg){
      padding: 0 15px;
    }
    .bg-image {
      left: auto;
      right: 100px;
      bottom: 0;
      width: calc(55% - 8px);
      padding: 0;
      margin: 0;
      @include media-breakpoint-down(lg){
        display: none;
      }
      &:before {
        position: absolute;
        content: "";
        background-color: #00000080;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .sec-title-box {
    padding: 100px 100px 72px;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(xl) {
      flex-direction: column;
      padding: 100px 0 72px 15px;
    }
    .sec-right-box {
      max-width: 435px;
      .text {
        padding-bottom: 32px;
        border-bottom: 1px solid var(--theme-color2);
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 32px;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          background-color: var(--theme-color-dark);
          width: 102px;
          height: 3px;
          bottom: -1.5px;
          left: 0;
        }
      }
      .theme-btn {
        padding: 12px 25.5px;
      }
    }
  }
}

.feature-block-three {
  .inner-block {
    background-color: var(--theme-color-white);
    padding: 40px 40px 31px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(xxxl){
      padding: 30px;
    }
    @include transition(all 300ms ease);
    &:hover {
      .icon-box {
        .icon {
          transform: scale(-1) rotate(180deg);
        }
      }
    }
    .icon-box {
      height: 80px;
      width: 80px;
      line-height: 80px;
      text-align: center;
      background-color: var(--theme-color-dark);
      margin-bottom: 29px;
      @include transition(all 300ms ease);
      .icon {
        @include transition(all 300ms ease);
      }
    }
    .title {
      position: relative;
      margin-bottom: 9px;
    }
    .text {
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      @include media-breakpoint-down(xl){
        font-size: 17px;
      }
    }
  }
}



/*** 

====================================================================
    Feature Section Five
====================================================================

***/
.features-section-five {
  padding: 120px 0;
  position: relative;
  background-color: var(--theme-color-white);
}

.feature-block-five {
  &:last-child {
    .inner-box {
      &:before,&:after {
        display: none;
      }
      .content {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
      }
    }
  }
  &:nth-child(2n+2) {
    .inner-box {
      .icon-box {
        background-color: #E3E5DD;
        .icon {
          filter: brightness(1) invert(0);
        }
      }
    }
  }
  .inner-box {
    position: relative;
    display: flex;
    align-items: start;
    margin-bottom: 23px;
    z-index: 1;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
    @include media-breakpoint-down(sm){
      &:before,&:after {
        display: none;
      }
    }
    &:before {
      background-color: #E3E5DD;
      content: "";
      position: absolute;
      top: 97px;
      left: 48.5px;
      height: calc(100% + 4px);
      width: 3px;
      z-index: -1;
      @include transition(all 300ms ease);
    }
    &:after {
      border-left: 1px dashed var(--theme-color-dark);
      content: "";
      position: absolute;
      top: 97px;
      left: 49.5px;
      height: calc(100% + 4px);
      width: 1px;
      z-index: -1;
      @include transition(all 300ms ease);
    }
    .icon-box {
      background-color: var(--theme-color-dark);
      border: 3px solid #E3E5DD;
      border-radius: 50%;
      color: var(--headings-color);
      display: inline-block;
      font-size: 42px;
      height: 100px;
      line-height: 88px;
      margin-right: 59px;
      position: relative;
      text-align: center;
      min-width: 100px;
      z-index: 1;
      @include media-breakpoint-down(sm){
        margin-bottom: 20px;
      }
      .icon {
        filter: brightness(0) invert(1);
      }
      .number {
        background-color: var(--theme-color-dark);
        border: 3px solid var(--theme-color-white);
        border-radius: 20px;
        color: var(--theme-color-white);
        font-size: 20px;
        font-weight: 500;
        height: 30px;
        line-height: 26px;
        width: 30px;
        position: absolute;
        right: -5px;
        top: -5px;
      }
    }
    .content {
      border-bottom: 1px solid rgba(var(--theme-color-black-rgb), .1);
      padding-bottom: 23px;
      margin-bottom: 41px;
      .title {
        margin-bottom: 15px;
        letter-spacing: -1px;
      }
      .text {
        color: #232323;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 5px;
      }
    }
  }
}
