/***

====================================================================
    Projects Section
====================================================================

***/
.projects-section {
  position: relative;
  padding: 120px 0;
  @include media-breakpoint-down(lg){
    padding: 80px 0;
  }

  .sec-title-box {
    @include media-breakpoint-down(lg){
      display: block;
    }
  }
  .sec-title-box {
    margin-bottom: 72px;
    .sec-right-box {
      max-width: 385px;
      .text {
        padding-bottom: 32px;
        border-bottom: 1px solid var(--theme-color2);
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 32px;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          background-color: var(--theme-color-dark);
          width: 102px;
          height: 3px;
          bottom: -2.5px;
          left: 0;
        }
      }
      .theme-btn {
        padding: 12px 25.5px;
      }
    }
  }
}

.project-block {
  .inner-block {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    &:hover {
      .catagories-box {
          opacity: 1;
          top: 12px;
          visibility: visible;
      }
      .content-box {
        .inner-box {
          opacity: 1;
          bottom: 12px;
          visibility: visible;
        }
      }
      .image-box {
        .image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    .image-box {
      .image {
        margin-bottom: 0;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          background: #0000004D;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          pointer-events: none;
          z-index: 1;
        }
        img {
          width: 100%;
          height: 100%;
          min-height: 420px;
          object-fit: cover;
          transform: scale(1);
          @include transition(all 300ms ease);
        }
      }
    }
    .catagories-box {
      position: absolute;
      display: flex;
      gap: 4px;
      top: -100px;
      left: 12px;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      @include transition(all 300ms ease);
      .catagory {
        a {
          color: var(--headings-color);
          background-color: var(--theme-color-white);
          padding: 9.2px 20px;
          display: inline-block;
        }
      }
    }
    .content-box {
      .inner-box {
        position: absolute;
        padding: 40px;
        background-color: var(--theme-color-dark);
        max-width: 536px;
        bottom: -100px;
        right: 12px;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        @include transition(all 300ms ease);
        @media (max-width: 1175.98px) {
          left: 15px;
        }
        @include media-breakpoint-down(sm){
          padding: 40px 12px;
        }
        .title-box {
          display: flex;
          justify-content: space-between;
          padding-bottom: 32px;
          margin-bottom: 32px;
          border-bottom: 1px solid var(--theme-color2);
          position: relative;
          @include media-breakpoint-down(sm){
            display: block;
          }
          &:before{
            position: absolute;
            content: "";
            width: 164px;
            height: 3px;
            background-color: var(--theme-color-white);
            bottom: -1.5px;
            left: 0;
          }
          .title {
            color: var(--theme-color-white);
          }
          .icon {
            color: var(--theme-color-black);
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            background-color: var(--theme-color-white);
          }
        }
        .text {
          color: var(--theme-color2);
          max-width: 456px;
        }
      }
    }
  }
}


/***

====================================================================
    Projects Section Two
====================================================================

***/

.projects-section-two {
  background-color: var(--theme-color-dark);
  position: relative;
  padding: 120px 0 72px;
  @include media-breakpoint-down(lg){
    padding: 80px 0 32px;
  }
  .sec-title-style-three {
    .sub-title {
      color: var(--theme-color2);
    }
    .title {
      font-size: 104px;
      font-weight: 700;
      font-family: var(--style-font-family);
      letter-spacing: -7px;
      line-height: 1;
      margin-top: 28px;
      margin-bottom: 27px;
      @include media-breakpoint-down(lg){
        font-size: 72px;
        margin-top: 20px;
        margin-bottom: 15px;
      }
    }
    .text {
      color: var(--theme-color2);
      max-width: 382px;
      padding-bottom: 31px;
      border-bottom: 1px solid var(--theme-color2);
      position: relative;
      margin-bottom: 30px;
      &:before {
        position: absolute;
        content: "";
        background-color: var(--theme-color-white);
        width: 102px;
        height: 3px;
        left: 0;
        bottom: -1.5px;
      }
    }
    .theme-btn {
      background-color: var(--theme-color-white);
      border: none;
      padding: 12px 25.5px;
      @include media-breakpoint-down(lg){
        margin-bottom: 30px;
      }
    }
  }
}

.project-block-two {
  margin-bottom: 43px;
  .inner-box {
    position: relative;
    @include transition(all 300ms ease);
    &:hover {
      .image-box {
        .image {
          img {
            &:first-child{
              transform: translateX(0) scaleX(1);
              opacity: 1;
              filter: blur(0);
            }
            &:nth-child(2){
              transform: translateX(-50%) scaleX(2);
              opacity: 0;
              filter: blur(10px);
            }
          }
        }
        .view-btn {
          scale: 1;
        }
      }
      .content-box {
        .title {
          color: var(--theme-color1);
        }
      }
    }
  }
  .image-box {
    position: relative;
    .view-btn {
      position: absolute;
      width: 120px;
      height: 120px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      background-color: var(--theme-color-dark);
      top: calc(50% - 60px);
      left: calc(50% - 60px);
      color: var(--theme-color-white);
      z-index: 1;
      display: inline-block;
      padding: 35px;
      scale: 0;
      @include transition(all 500ms ease);
    }
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      &:before {
        background-color: rgba(var(--theme-color-black-rgb), .3);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        @include transition(all 300ms ease);
        pointer-events: none;
      }
      img {
        position:relative;
        width:100%;
        display:block;
        transition:all 500ms ease;
        &:first-child{
          position:absolute;
          left:0px;
          top:0px;
          right:0px;
          bottom:0px;
          z-index:1;
          transform: translateX(50%) scaleX(2);
          opacity: 0;
          filter: blur(10px);
        }
      }
    }
  }
  .content-box {
    padding: 30px 0 0;
    position: relative;
    z-index: 1;
    .title-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .year-info {
        background-color: #232323;
        color: var(--theme-color-white);
        font-weight: 300;
        padding: 5px 16px;
      }
    }
    .title {
      color: var(--theme-color1);
      margin-bottom: 0;
      @include media-breakpoint-down(lg){
        font-size: 24px;
      }
      &:hover {
        color: var(--theme-color1);
      }
    }
    .categories-list {
      .item {
        border: 1px solid #232323;
        color: var(--theme-color-white);
        font-weight: 300;
        padding: 7px 16px;
        display: inline-block;
        margin-left: 4px;
        margin-bottom: 4px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}


/***

====================================================================
    Projects Section Three
====================================================================

***/
.projects-section-three {
  position: relative;
}

.project-block-three {
  .inner-block {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    &:hover {
      .content-box {
        .inner-box {
          opacity: 1;
          bottom: 20px;
          visibility: visible;
        }
      }
      .image-box {
        .image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    .image-box {
      .image {
        margin-bottom: 0;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box {
      .inner-box {
        position: absolute;
        padding: 40px;
        background-color: var(--theme-color-dark);
        max-width: 559px;
        bottom: 20px;
        right: 20px;
        z-index: 1;
        @include transition(all 300ms ease);
        @media (max-width: 609.98px) {
          left: 15px;
          right: 15px;
        }
        .title-box {
          border-bottom: 1px solid rgba(var(--theme-color2-rgb), .7);
          padding-bottom: 31px;
          margin-bottom: 33px;
          align-items: center;
          display: flex;
          justify-content: space-between;
          position: relative;
          @include media-breakpoint-down(sm){
            flex-direction: column;
          }
          &:before{
            position: absolute;
            content: "";
            width: 172px;
            height: 3px;
            background-color: var(--theme-color-white);
            bottom: -1.5px;
            left: 0;
            @include media-breakpoint-down(sm){
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .title {
            color: var(--theme-color-white);
            margin-bottom: 0;
          }
          .catagories-box {
            display: flex;
            gap: 4px;
            z-index: 1;
            @include transition(all 300ms ease);
            @include media-breakpoint-down(sm){
              margin-bottom: 30px;
            }
            .catagory {
              a {
                color: var(--theme-color-white);
                border: 1px solid #232323;
                font-weight: 300;
                padding: 9.2px 20px;
                display: inline-block;
              }
            }
          }
        }
        .bottom-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include media-breakpoint-down(sm){
            flex-direction: column;
            text-align: center;
          }
          .btn-link-arrow {
            background-color: rgba(142, 142, 142, .1);
            color: var(--theme-color-white);
            display: inline-block;
            font-size: 30px;
            min-width: 60px;
            height: 60px;
            line-height: 60px;
            margin-left: 15px;
            text-align: center;
            @include media-breakpoint-down(sm){
              margin-left: 0;
            }
            .icon {
              transform: rotate(-45deg);
            }
          }
          .text {
            color: var(--theme-color2);
            font-weight: 300;
            max-width: 387px;
            @include media-breakpoint-down(sm){
              margin-bottom: 30px;
              max-width: none;
            }
          }
        }
      }
    }
  }
}

/***

====================================================================
    Product Section Visual
====================================================================

***/

.project-section-visual {
  overflow: hidden;
  background-color: #FFFBF3;
  padding: 120px 0;
  .outer-box {
    background-color: #0E3D37;
    border-radius: 30px;
    margin: 0 30px;
    position: relative;
    @include media-breakpoint-down(lg){
      margin: 0 15px;
    }
  }

  .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 0 30px 30px 0;
    &:before {
      background-color: rgba(14, 61, 55, .88);
      border-radius: 0 30px 30px 0;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(lg){
        opacity: 1;
      }
    }
  }

  .content-column {
    .inner-column {
      display: flex;
      align-items: center;
      min-height: 812px;
      padding: 60px 30px;
      position: relative;
      z-index: 1;
      @include media-breakpoint-down(xl){
        min-height: 680px;
      }
      @include media-breakpoint-down(lg){
        min-height: auto;
        padding: 90px 25px;
      }
      .tags {
          position: absolute;
          top: 61px;
          right: -112px;
          z-index: 1;
          padding: 18px 30px;
          font-size: 15px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 3px;
          text-transform: uppercase;
          background-color: #0E3D37;
          color: var(--theme-color-white);
          border-bottom-left-radius: 10px;
          transform: rotate(-90deg);
          @include media-breakpoint-down(lg){
            right: calc(50% - 112px);
          }
        }
      .content {
        max-width: 530px;
        margin: 0 auto;
        .number {
          width: 100px;
          height: 100px;
          line-height: 100px;
          text-align: center;
          border-radius: 50%;
          display: inline-block;
          font-size: 30px;
          font-weight: 500;
          color: var(--theme-color-white);
          background-color: rgba(var(--theme-color-white-rgb), .1);
          margin-bottom: 40px;
        }
        .list {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;
          li {
            display: inline-block;
            font-size: 15px;
            line-height: 15px;
            border-radius: 50px;
            background-color: rgba(var(--theme-color-white-rgb), .1);
            text-transform: uppercase;
            padding: 10px 24px;
            padding-top: 15px;
            font-weight: 500;
            color: var(--theme-color-white);
            &:last-child {
              background-color: transparent;
              position: relative;
              z-index: 1;
              &::before {
                position: absolute;
                top: 19px;
                left: 10px;
                width: 6px;
                height: 6px;
                background-color: var(--theme-color1);
                border-radius: 50%;
                content: "";
              }
            }
          }
        }
        .title {
          color: var(--theme-color-white);
          margin-bottom: 20px;
        }
        .text {
          color: #CCCCCC;
          margin-bottom: 50px;
        }
      }
    }
  }
}