/***

==================================================================
    Video Section
==================================================================

***/

.video-section {
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--gradient-6);
  }
  .bg-image{
    overflow: hidden;
    z-index: -1;
  }
  .title-stroke-text{
    position: absolute;
    top: 0;
    right: 0;
  }
  .video-outer{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 400px 0 120px;
    z-index: 1;
    @include media-breakpoint-down(xl){
      padding: 150px 0 250px;
    }
    .sec-title{
      margin-bottom: 40px;
    }
    .text{
      max-width: 420px;
      width: 100%;
      margin: 0 auto;
      margin-right: 0px;
    }
  }
  .video-button-circle {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    .inner {
      width: 140px;
      height: 140px;
      line-height: 153px;
      text-align: center;
      .shape-circle1 {
        position: absolute;
        top: 0;
        left: 0;
      }
      .icon {
        width: 106px;
        height: 106px;
        text-align: center;
        line-height: 106px;
        border-radius: 50%;
        color: var(--theme-color-dark);
        background-color: var(--theme-color1);
        font-size: 34px;
      }
      .text-circle-box {
        position: relative;
        svg {
          fill: #fff;
          transform-origin: 50% 50% 0;
          transform: rotate(0deg);
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}


/***

==================================================================
    Video Section Two
==================================================================

***/

.video-section-two {
  position: relative;
  padding: 99px 0 252px;
  @include media-breakpoint-down(md){
    padding: 100px 0;
  }
  &:before {
    background-color: rgba(var(--theme-color1-rgb), .9);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .content {
    text-align: center;
    position: relative;
    z-index: 1;
    .play-now {
      border-radius: 50%;
      position: relative;
      display: inline-block;
      &::before {
        display: none;
      }
      &:hover {
        .icon {
          color: var(--theme-color1);
        }
      }
      .icon {
        background-color: var(--theme-color-light);
        color: var(--theme-color1);
        font-size: 24px;
        height: 90px;
        width: 90px;
        line-height: 90px;
      }
    }
    h3 {
      color: var(--theme-color-light);
      font-weight: 600;
      line-height: 48px;
      margin-top: 15px;
      br {
        @include media-breakpoint-down(lg){
          display: none;
        }
      }
    }
  }
}


